<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>968125070497-bmm7rjbhqr0keh66sispd1k608ea6d73.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.968125070497-bmm7rjbhqr0keh66sispd1k608ea6d73</string>
	<key>API_KEY</key>
	<string>AIzaSyC9XHkT6tHGyu1onyfGnJbvRfg4XDk2VeU</string>
	<key>GCM_SENDER_ID</key>
	<string>968125070497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.temelden</string>
	<key>PROJECT_ID</key>
	<string>temelden-ffcb3</string>
	<key>STORAGE_BUCKET</key>
	<string>temelden-ffcb3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968125070497:ios:111f31d9e2e46ec1d2c4e0</string>
	<key>DATABASE_URL</key>
	<string>https://temelden-ffcb3-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>